<!DOCTYPE html>
<html lang="en" ng-app="myNinjaApp">
  <head>
    <title>AngularJS</title>
    <link href="content/css/styles.css" rel="stylesheet" type="text/css" />
    <script src="app/lib/angular.min.js"></script>
    <script src="app/lib/angular-route.min.js"></script>
    <script src="app/app.js"></script>
  </head>
  <body ng-init="color='blue'"> <!-- it allows to initialize some data when application loads -->
    <header ng-include="'header.html'"></header>
    <main ng-view></main>
    <div class="content">
      <input type="text" ng-model="favFood" placeholder="enter your fav food"/>
      <p>Your fav food is: {{favFood}}</p>
      <p>{{ 5 * 5 }}</p>
      <p class="{{color}}">Hello dude.</p>
      <div ng-init="ninjas=['yoshi', 'crystal', 'ryu', 'shaun']">
        <ul>
          <li ng-repeat="ninja in ninjas"> {{ ninja }} </li>
        </ul>
      </div>
      <div ng-controller="NinjaController">
        <p>{{message}}</p>
        <button ng-click="order = 'name'">Order by Name</button>
        <button ng-click="order = 'belt'">Order by Belt</button>
        <input type="text" ng-model="search" placeholder="Enter ninja for search"/>
        <ul>
          <li ng-repeat="ninja in ninjas | orderBy: order | filter: search" ng-show="ninja.available">
            <img ng-src="{{ninja.thumb}}" style="margin : -12px 10px 0 0; float: left; width: 50px;" ng-show="ninja.thumb"/>
            <h3>{{ ninja.name }} ~ {{ ninja.rate | currency: '₹' }}</h3>
            <div class="remove" ng-click="removeNinja(ninja)">x</div>
            <span class="belt" style="background : {{ninja.belt}}">{{ninja.belt}} belt</span>
          </li>
        </ul>
        <form ng-submit="addNinja()">
          <input type="text" placeholder="enter ninja name" ng-model="newNinja.name"/>
          <input type="text" placeholder="enter ninja belt" ng-model="newNinja.belt"/>
          <input type="text" placeholder="enter ninja rate" ng-model="newNinja.rate"/>
          <input type="submit" value="Add new Ninja"/>
        </form>
      </div>
    </div>
  </body>
</html>